@model RentHouse.Dto.LocationDto.CreateLocationDto

<div class="modal fade " id="createModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-controller="AdminLocation" asp-action="CreateLocation">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Konum Ekle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label">Konumun İsmi:</label>
                            <input class="form-control" type="text" placeholder="Bir konum ismi giriniz." asp-for="Name">
                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

