@model CreateHouseDto
@{
    ViewData["Title"] = "CreateHouse";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<main class="app-main">

    <div class="app-content mt-4">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <!--begin::Header-->
                        <div class="card-header d-grid pb-0">
                            <div class="card-title">Yeni Ev Ekle</div>
                            <div class="form-text">Ev hakkında bilgileri eksiksiz doldurmalısınız. Kaydet butonuna basarak işlemi tamamlayabilirsiniz.</div>
                            <ul class="nav nav-tabs mt-3 border-bottom-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Genel Bilgiler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link link-secondary" href="#">Görseller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                            </ul>
                        </div> <!--end::Header--> <!--begin::Form-->
                        <form method="post" enctype="multipart/form-data">
                            <!--begin::Body-->
                            <div class="card-body">
                                
                                <div class="mb-3">
                                    <label  class="form-label">Ev İsmi</label>
                                    <input class="form-control" type="text" placeholder="Eve bir isim giriniz" asp-for="Name">
                                </div>
                                <div class="mb-3">
                                    <label for="LocationLabel" class="form-label">Konum</label>
                                    @Html.DropDownListFor(x => x.LocationID,(List<SelectListItem>)ViewBag.LocationValues,new {@class="form-control"})
                                </div>
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label  class="form-label">Alanı</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="Area"> <span class="input-group-text">m2</span>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <label  class="form-label">Oda Sayısı</label>
                                        <input type="number" class="form-control" asp-for="NumberOfRooms">
                                    </div>
                                    <div class="col-4">
                                        <label  class="form-label">Yatak Sayısı</label>
                                        <input type="number" class="form-control" asp-for="NumberOfBeds">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label  class="form-label">Açıklama</label>
                                    <textarea class="form-control" asp-for="Description"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label  class="form-label">Büyük Resim Url</label>
                                    <input class="form-control" type="text" asp-for="BigImageUrl">
                                </div>
                                <div class="mb-3">
                                    <label  class="form-label">Küçük Resim Url</label>
                                    <input class="form-control" type="text" asp-for="CoverImageUrl">
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <label  class="form-label">Hafta İçi Fiyat</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="WeekdayPrice"> <span class="input-group-text">₺</span>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Hafta Sonu Fiyat</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="WeekendPrice"><span class="input-group-text">₺</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="mb-3">
                                <label class="form-label">Enlem ve Boylam</label>
                                <div class="input-group">
                                        <input type="text" class="form-control" id="latLng" value="40.430988528548944, 29.723164534706456">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" id="googleMapsButton">
                                            Getir
                                        </button>
                                    </div>
                  
                                </div>
                                </div>
                                        <input type="hidden" class="form-control" asp-for="Latitude" >
                                        <input type="hidden" class="form-control" asp-for="Longitude">

                                <div id="map" class="mb-3 map-border" style="width: 100%; height:500px;"></div>
                                

                            </div> <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer"> <button type="submit" class="btn btn-primary float-end">Kaydet</button> </div> <!--end::Footer-->
                        </form> <!--end::Form-->
                    </div>
                </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main>

<script>

    $(document).ready(function () {
        // Map Settings
        var defaultLocation = [40.430988528548944, 29.723164534706456]

        var map = L.map('map', {
            doubleClickZoom: false
        }).setView(defaultLocation, 16);
        

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 19
        }).addTo(map);

        var latitudeInput = $('#Latitude');
        var longitudeInput = $('#Longitude');
        var latLngInput = $('#latLng');
        var marker = L.marker(defaultLocation).addTo(map);
        
        changeMarkerPosition(defaultLocation[0],defaultLocation[1]);
        
        
        map.on('click', function (e) {
        	var clickedLatLng = e.latlng; // Tıklanan koordinatlar
            changeMarkerPosition(clickedLatLng.lat, clickedLatLng.lng);
        });


        $('#googleMapsButton').click(function() {
            var latLng = latLngInput.val().replace(/\s+/g, '').split(",");
            changeMarkerPosition(parseFloat(latLng[0]), parseFloat(latLng[1]));
        });

        
        function changeMarkerPosition(lat,lng) {
            var newLat = lat.toFixed(8);
            var newLng = lng.toFixed(8);
            if (marker) {
                map.removeLayer(marker);
            }
            latitudeInput.val(newLat.toString().replace('.', ','));
            longitudeInput.val(newLng.toString().replace('.', ','));
            var googleMap = 'http://maps.apple.com/?q=' + newLat + ', ' + newLng;
            var appleMap = 'http://maps.apple.com/?q=' + newLat + ', ' + newLng;
            latLngInput.val(newLat + ', ' + newLng);
            marker = L.marker([newLat, newLng]).addTo(map)
                .bindPopup('<a href = "' + googleMap + '"> Harita Linki </a>')
                .openPopup();
        }
        

    });



</script>