@model RentHouse.Dto.ReservationDto.CreateReservationDto
@{
    ViewData["Title"] = "CreateReservation";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
    var reservations = ViewBag.Reservations as List<RentHouse.Dto.ReservationDto.ResultReservationDto>;
    var house = ViewBag.House as ResultHouseWithLocationDto;
}

<main class="app-main">

    <div class="app-content mt-4">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <!--begin::Header-->
                        <div class="card-header d-grid">
                            <div class="card-title">@house.name - Rezervasyon Ekle</div>
                            <div class="form-text">Ev hakkında bilgileri eksiksiz doldurmalısınız. Kaydet butonuna basarak işlemi tamamlayabilirsiniz.</div>
                        </div> <!--end::Header--> <!--begin::Form-->
                        <form method="post" asp-area="Admin" asp-controller="House" asp-action="ReservationCreate" asp-route-id="@house.houseID">
                            <!--begin::Body-->
                            <div class="card-body">
                                <input type="hidden" asp-for="HouseID">
                                <label class="form-label">Rezervasyon Tarihleri</label>
                                <div class="row row-cols-2  mb-3">
                                     
                                    <div class="col">
                                        
                                        <input class="form-control" type="text" id="startDate" asp-for="StartDate" placeholder="Başlangıç Tarihi">
                                    </div>
                                    
                                    <div class="col">
                                        <input class="form-control" type="text" id="endDate" asp-for="EndDate" placeholder="Bitiş Tarihi" readonly>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="Notes" class="form-label">Notlar</label>
                                    <input class="form-control" type="text" asp-for="Notes">
                                </div>

                                <div class="mb-3 form-check"> 
                                    <input type="checkbox" class="form-check-input" asp-for="IsConfirmed"> 
                                    <label class="form-check-label" asp-for="IsConfirmed">Onaylandı mı?</label>
                                </div>

                            </div> <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer"> <button type="submit" class="btn btn-primary">Submit</button> </div> <!--end::Footer-->
                        </form> <!--end::Form-->
                    </div>
                </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main>

<script>
    $(document).ready(function () {
        var reservations = @Html.Raw(Json.Serialize(reservations));
        var disabled = [];
        reservations.forEach(function (item) {
            
            var dates = {
                from: formatDate(new Date(item.startDate)),
                to: formatDate(new Date(item.endDate))
            }
            disabled.push(dates);
        });
        

        const startDatePicker = flatpickr("#startDate", {
            mode: "range",
            dateFormat: "d/m/Y",
            minDate: "today",
            disable: disabled,
            onChange: function (selectedDates, dateStr, instance) {
                if (selectedDates.length === 2) {
                    // Seçilen tarihleri ayır
                    const startDate = selectedDates[0];
                    const endDate = selectedDates[1];

                    // Formatla ve inputlara yerleştir
                    $("#startDate").val(flatpickr.formatDate(startDate, "d/m/Y"));
                    $("#endDate").val(flatpickr.formatDate(endDate, "d/m/Y"));
                } else if (selectedDates.length === 1) {
                    const startDate = selectedDates[0];
                    $("#startDate").val(flatpickr.formatDate(startDate, "d/m/Y"));
                    $("#endDate").val(flatpickr.formatDate(startDate, "d/m/Y"));
                }
            },
            
        });

        const endDatePicker = flatpickr("#endDate", {
            dateFormat: "d/m/Y",
            minDate: "today",
            disable: disabled,
            

        });
        
        

        function formatDate(date) {
            const day = String(date.getDate()).padStart(2, '0'); // Gün
            const month = String(date.getMonth() + 1).padStart(2, '0'); // Ay (0-11 arası olduğu için 1 ekliyoruz)
            const year = date.getFullYear(); // Yıl
            return `${day}/${month}/${year}`; // "dd/MM/yyyy" formatında döndür
        }

    });
</script>