@model UpdateHouseDto
@{
    ViewData["Title"] = "UpdateHouse";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<main class="app-main">

    <div class="app-content mt-4">
        <!--begin::Container-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <!--begin::Header-->
                        <div class="card-header d-grid">
                            <div class="card-title">Evi Düzenle</div>
                            <div class="form-text">Ev hakkında bilgileri eksiksiz doldurmalısınız. Kaydet butonuna basarak işlemi tamamlayabilirsiniz.</div>
                        </div> <!--end::Header--> <!--begin::Form-->
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="HouseID" value="@Model.HouseID"/>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Ev İsmi</label>
                                    <input class="form-control" type="text" placeholder="Eve bir isim giriniz" asp-for="Name">
                                </div>
                                <div class="mb-3">
                                    <label for="LocationLabel" class="form-label">Konum</label>
                                    @Html.DropDownListFor(x => x.LocationID, (List<SelectListItem>)ViewBag.LocationValues, new { @class = "form-control" })
                                </div>
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label asp-for="Area" class="form-label">Alanı</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="Area"> <span class="input-group-text">m2</span>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <label asp-for="NumberOfRooms" class="form-label">Oda Sayısı</label>
                                        <input type="number" class="form-control" asp-for="NumberOfRooms">
                                    </div>
                                    <div class="col-4">
                                        <label asp-for="NumberOfBeds" class="form-label">Yatak Sayısı</label>
                                        <input type="number" class="form-control" asp-for="NumberOfBeds">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Açıklama</label>
                                    <textarea class="form-control" asp-for="Description"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="BigImageUrl" class="form-label">Büyük Resim Url</label>
                                    <input class="form-control" type="text" asp-for="BigImageUrl">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="CoverImageUrl" class="form-label">Küçük Resim Url</label>
                                    <input class="form-control" type="text" asp-for="CoverImageUrl">
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="WeekdayPrice" class="form-label">Hafta İçi Fiyat</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="WeekdayPrice"> <span class="input-group-text">₺</span>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <label asp-for="WeekendPrice" class="form-label">Hafta Sonu Fiyat</label>
                                        <div class="input-group">
                                            <input type="number" class="form-control" asp-for="WeekendPrice"><span class="input-group-text">₺</span>
                                        </div>

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="Latitude" class="form-label">Enlem</label>
                                        <input type="text" class="form-control" asp-for="Latitude">

                                    </div>
                                    <div class="col">
                                        <label asp-for="Longitude" class="form-label">Boylam</label>
                                        <input type="text" class="form-control" asp-for="Longitude">

                                    </div>
                                </div>
                            </div> <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer"> <button type="submit" class="btn btn-primary">Submit</button> </div> <!--end::Footer-->
                        </form> <!--end::Form-->
                    </div>
                </div>
            </div>
        </div> <!--end::Container-->
    </div> <!--end::App Content-->
</main>

