<head>
    <title>RentHouse Ev Kiralama Projesi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/carbook-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/animate.css">

    <link rel="stylesheet" href="~/carbook-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/carbook-master/css/aos.css">

    <link rel="stylesheet" href="~/carbook-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/carbook-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/carbook-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/carbook-master/css/flaticon.css">
    <link rel="stylesheet" href="~/carbook-master/css/icomoon.css">
    <link rel="stylesheet" href="~/carbook-master/css/style.css">
    <link rel="stylesheet" href="~/carbook-master/css/calendar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/tr.js"></script>
</head>