
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
  <body>
    
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    @await Component.InvokeAsync("_DefaultCoverComponentPartial")
 

     <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12	featured-top">
    				<div class="row no-gutters ">				
	  					<div class="col-md-10 d-flex align-items-center mx-auto">
	  						<div class="services-wrap rounded w-100">
	  							<h3 class="heading-section mb-4">Ev Kiralamanın En İyi Yolu</h3>
	  							<div class="row d-flex mb-4">
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><img src="~/images/icons/rent-date.svg" alt="Icon" width="48" height="48" /></span></div>
				              	<div class="text w-100">
									<h3 class="heading mb-2">İstediğiniz Tarihleri Seçin</h3>
				                </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><img src="~/images/icons/rent-deal.svg" alt="Icon" width="48" height="48" /></div>
				              	<div class="text w-100">
					                <h3 class="heading mb-2">En İyi Fırsatı Seçin</h3>
					              </div>
					            </div>      
					          </div>
					          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
					            <div class="services w-100 text-center">
											<div class="icon d-flex align-items-center justify-content-center"><img src="~/images/icons/rent-house.svg" alt="Icon" width="48" height="48" /></div>
				              	<div class="text w-100">
												<h3 class="heading mb-2">Kiralık Evinizi Rezerve Edin</h3>
					              </div>
					            </div>      
					          </div>
					        </div>
	  						</div>
	  					</div>
	  				</div>
					@await Component.InvokeAsync("_SearchHouseComponentPartial")
				</div>
  		</div>
    </section>


    @await Component.InvokeAsync("_LastHousesComponentPartial")

    @await Component.InvokeAsync("_AboutUsComponentPartial")

    @await Component.InvokeAsync("_OurServicesComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")

	@* @await Component.InvokeAsync("_StatisticsComponentPartial") *@

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
    
  </body>
</html>
