
<div class="modal fade" id="removeModal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Uyarı</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--begin::Body-->
                    <div class="card-body">
                        <div class="mb-3">
                            <input type="hidden" value="0" id="id" />
                            <p>Silmek istediğinize emin misiniz?</p>
                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>
                    <a type="submit" class="btn btn-danger" href="" id="removeButton">Sil</a>
                </div>
            </form>
        </div>
    </div>
</div>


