<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand"> 
        <!--begin::Brand Link--> 
        <a href="#" class="brand-link"> 
        <!--end::Brand Image--> 
        <!--begin::Brand Text--> 
        <span class="brand-text fw-light">RentHouse</span> 
        <!--end::Brand Text--> 
        </a> 
        <!--end::Brand Link--> 
    </div> 
    <!--end::Sidebar Brand-->

    <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-header">MENÜ</li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="House" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-house"></i>
                        <p>Evler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Feature" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-star-half"></i>
                        <p>Ev Özellikleri</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Location" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-geo-alt"></i>
                        <p>Konumlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Reservation" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-houses-fill"></i>
                        <p>Reservasyonlar</p>
                    </a>
                </li>
                        <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="nav-link">
                                <i class="nav-icon bi bi-cone"></i>
                                <p>Banner Alanı</p>
                            </a>
                        </li>
                        <li class="nav-item">
                    <a asp-area="Admin" asp-controller="About" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-info-circle-fill"></i>
                                <p>Hakkımızda</p>
                            </a>
                        </li>
                        <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="nav-link">
                                <i class="nav-icon bi bi-broadcast"></i>
                                <p>Servisler</p>
                            </a>
                        </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-file-earmark-person"></i>
                        <p>İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Testimonial" asp-action="Index" class="nav-link">
                        <i class="nav-icon bi bi-person-bounding-box"></i>
                        <p>Referanslar</p>
                    </a>
                </li>
                        
                   
                </li>
            </ul> 
            <!--end::Sidebar Menu-->
        </nav>
    </div> <!--end::Sidebar Wrapper-->
</aside> 